#root {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: rgba(81, 83, 87);
    font-family: 'Lato', sans-serif;
}

#header {
    width: 100%;
}

.inner-content {
    margin: 10px auto 10px auto;
    min-width: 500px;
    max-width: 600px;
}

h2 {
    width: 500px;
    line-height: 40px;
    font-weight: 200;
    font-size: 30px;
}

h4 {
    font-family: 'Lato', sans-serif;
    width: 500px;
    font-size: 20px;
    font-weight: 600;
}

img {
    width: 150px;
    margin-top: 40px;
}

.desc {
    font-family: 'Lato', sans-serif;
    color: rgba(81, 83, 87);
    font-weight: 500;
    margin-top: 5px;
}

#form {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 80vh;
}

.input-block {
    display: flex;
    width: 600px;
}

label,
input {
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    margin-right: 50px;
    width: 200px;
}

input {
    min-width: 300px;
    padding: 10px;
    outline: none;
}

button {
    background-color: black;
    color: white;
    width: 180px;
    margin: auto;
    margin-top: 50px;
    padding: 8px;
    min-height: 40px;
    border-radius: 3px;
}